[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
allow_prereleases = true

[packages]
bluepy = "~=1.3.0"
python-ndn = "0.3a1.post1"

[dev-packages]
autopep8 = "*"
isort = "*"

[scripts]
lint = "sh -c 'isort *.py && autopep8 -i *.py'"
